{% load static %}
{% load currency %}
<!-- HOME -->
	<div id="home">
		<!-- container -->
		<div class="container">
			<!-- home wrap -->
			<div class="home-wrap">
				<!-- home slick -->
				<div id="home-slick">
					<!-- banner -->
					
					{% for res in products_slider %}
						<div class="banner banner-1">
							<img src="{{res.image.url}}" alt="" style="height: 450px;">
							<div class="banner-caption text-center">
								<h1>{{res.title|truncatewords:2}}</h1>
								<h3 class="white-color font-weak">{{res.price|currency:request.session.currency}} {{request.session.currency}}</h3>
								<a href="#" class="primary-btn">Shop Now</a>
							</div>
						</div>
					{% endfor %}
					<!-- /banner -->

				</div>
				<!-- /home slick -->
			</div>
			<!-- /home wrap -->
		</div>
		<!-- /container -->
	</div>
	<!-- /HOME -->