{% extends 'homebase.html' %}

{% block title %}  {{ user.first_name }} Change Password {% endblock %}
{% block description %} {{ setting.description }} {% endblock %}
{% block keywords %} {{ setting.keywords }} {% endblock %}

{% block sidebar %} {% include 'sidebar.html' %} {% endblock %}

{% block body %}

    <!-- BREADCRUMB -->
    <div id="breadcrumb">
        <div class="container">
            <ul class="breadcrumb">
                <li><a href="/">Home</a></li>
                <li class="active">Change Password</li>
            </ul>
        </div>
    </div>
    <!-- /BREADCRUMB -->

    <!-- section -->
    <div class="section">
        <!-- container -->
        <div class="container">
            <!-- row -->
            <div class="row">

                <div class="col-md-3">
                    {% include "user_panel.html" %}
                </div>

                <div class="col-md-9">
                    <div class="billing-details">
                        <div class="section-title">
                            <h3 class="title">Change Password</h3>
                        </div>
                    </div>
                    
                    {% if messages %}
                        {% for message in messages %}
                            <div style="color:brown; font-size: medium;">
                                {{message|safe}}
                            </div>
                        {% endfor %}
                    {% endif %}

                    
                    <form action="" method="POST">
                        {% csrf_token %}
                        {% for field in form %}
                            <p>
                                {{field.label_tag}} <br>
                                {{field}}
                                
                                {% if field.help_text %}
                                    <small style="...">{{field.help_text}}</small>
                                {% endif %}
                                
                                {% for error in field.errors %}
                                    <p style="...">{{error}}</p>
                                {% endfor %}
                                    
                            </p>
                        {% endfor %}
                        <button class="btn btn-primary">Save Change</button>
                    </form>

                </div>
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </div>
    <!-- /section -->

{% endblock %}